@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../szablony/standardowy-c.rwd.v2/font/roboto-v47-latin_latin-ext-regular.woff2') format('woff2'), 
       url('../szablony/standardowy-c.rwd.v2/font/roboto-v47-latin_latin-ext-regular.ttf') format('truetype'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../szablony/standardowy-c.rwd.v2/font/roboto-v47-latin_latin-ext-700.woff2') format('woff2'), 
       url('../szablony/standardowy-c.rwd.v2/font/roboto-v47-latin_latin-ext-700.ttf') format('truetype'); 
}

@font-face {
  font-family: fallback-font;
  src: local('Arial');
    size-adjust: 99%;
    ascent-override: 99%;
    descent-override: normal;
    line-gap-override: normal;
}