/* link do klienta */
.Klient { background:url('../obrazki/klient.png') no-repeat left center; display:inline-block; padding:2px; padding-left:24px; font-weight:normal; text-decoration:none; }
.Klient:hover { text-decoration:none; }

div .Export { background:url('../obrazki/export.png') no-repeat left center; line-height:1.5; display:inline-block; padding-left:22px; font-weight:bold; color:#016f24; text-decoration:none; margin-right:5px; }
div .Export:hover { color:#ff0000; text-decoration:none; }

div .Import { background:url('../obrazki/import.png') no-repeat left center; line-height:1.5; display:inline-block; padding-left:22px; font-weight:bold; color:#016f24; text-decoration:none; }
div .Import:hover { color:#ff0000; text-decoration:none; }

div .Freshmail { background:url('../obrazki/freshmail.png') no-repeat left center; line-height:1.5; display:inline-block; padding-left:85px; font-weight:bold; color:#016f24; text-decoration:none; margin-right:5px; }
div .Freshmail:hover { color:#ff0000; text-decoration:none; }

div .MailerLite { background:url('../obrazki/mailerlite.png') no-repeat left center; line-height:1.5; display:inline-block; padding-left:70px; font-weight:bold; color:#016f24; text-decoration:none; margin-right:5px; }
div .MailerLite:hover { color:#ff0000; text-decoration:none; }

div .Ecomail { background:url('../obrazki/ecomail.png') no-repeat left center; line-height:1.5; display:inline-block; padding-left:70px; font-weight:bold; color:#016f24; text-decoration:none; margin-right:5px; }
div .Ecomail:hover { color:#ff0000; text-decoration:none; }

div .Mailjet { background:url('../obrazki/mailjet.png') no-repeat left center; line-height:1.5; display:inline-block; padding-left:70px; font-weight:bold; color:#016f24; text-decoration:none; margin-right:5px; }
div .Mailjet:hover { color:#ff0000; text-decoration:none; }

.MailExport { margin-top:-8px; line-height:2.5; text-align:right; }

@media only screen and (min-width:1280px) {
  .MailExport br { display:none; }
}

#DaneNewslettera { margin:10px; }
#DaneNewslettera div { display:block; text-align:left; margin-bottom:8px; font-weight:normal; text-decoration:none; }
#DaneNewslettera span { font-weight:bold; color:#0c617d; }

.GrupyNewslettera { padding:10px; }
.GrupyNewslettera td { padding-right:3px; }

.ZakresWysylaniaNewslettera { margin:15px 0px 10px 0px; }
.ZakresWysylaniaNewslettera .error { margin-left:0px !important; }