/* obsluga okna kategorii */
.OknoKategoriiKontener { margin-bottom:10px; border:1px solid #c1c1c1; padding:2px; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; -khtml-border-radius:4px; }
.OknoNaglowek { background:url('../obrazki/tlo.png') repeat-x left bottom; text-shadow:#fff 1px 1px 1px; font-weight:bold; color:#2b595b; }
@media only screen and (max-width:1023px) { 
 .OknoNaglowek { padding:5px 7px 5px 7px; }
 .OknoNaglowek .RozwinKategorie { cursor:pointer; padding:5px 0px 5px 0px; display:block; background:url('../obrazki/menu_rozwijane_ciemne.png') no-repeat right center; font-size:130%; text-transform:uppercase; letter-spacing:2px; }
 .OknoKategoriiKontener .OknoKategorii { display:none; }
}
@media only screen and (min-width:1024px) { 
 .OknoNaglowek { padding:10px 7px 10px 7px; }
}

/* lista kategorii do jakich jest przypisany produkt */
.MaleInfoKat { display:block; padding:9px 0px 9px 25px; font-weight:normal; background:url('../obrazki/kategoria.png') no-repeat left center; }

.DodajKategorie { margin:15px 5px 5px 5px; }

#ListaKategorii table { width:100%; }
#ListaKategorii td { padding:4px; }
#ListaKategorii a { font-weight:bold; text-decoration:none; }
#ListaKategorii a:hover { font-weight:bold; color:#ff0000; }
#ListaKategorii .BrakKategorii { font-weight:bold; padding:10px; padding-bottom:6px; }

/* grupa klientow */
.GrupaKlientow { display:inline-block; padding:5px; }

.Komentarz { display:block; font-weight:normal; color:#838383; }

.Autor { padding:6px 0px 3px 0px; font-weight:normal; color:#888; }

.DaneStrukturalneNaglowek { margin:20px 20px 10px 25px; font-family:Inder, Arial; font-size:130%; color:#2b595b; }

.ZobaczSklep { margin-left:50px; background:url("../obrazki/domek.png") no-repeat left center; padding:6px 0px 6px 25px; display:inline-block; }
